@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    height:100%;
    margin:0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    
    /* perspectief op de buitenste container */
    perspective:40em;
  }
  

  main {
    position:relative;
    
    display:grid;
    justify-content:center;
    align-items:center;
    
    /* om een 'echte' 3D omgeving te creeren */
    transform-style:preserve-3d;
    
  
  }
  
  
  input {
      clip: rect(1 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  
  label {
    display:block;
    width:32vmin; height:60vmin;
    
    text-align:center;
    /* allemaal in dezelfde grid-cel */
    grid-column:1;
    grid-row:1;
    
    /* de tekst op zijn kant */
    /* writing-mode:vertical-lr; */
    
    /* draaien om de rechterkant */
    transform-origin:right center;
    

    transition:transform calc( (5 + var(--volgnummer)) / 7 * .75s) ease-in;
    
    transform:rotatez( calc( var(--rotate) * 1deg) ) rotatey(calc(var(--volgnummer) * 2 * 1deg));
  }
  
  label:nth-of-type(1) {
    --rotate:2;
    --volgnummer:1;
    background-color:#3d5a80;
    border: 3px solid black;
    margin-left:-20vw;
  }
  label:nth-of-type(2) {
    --rotate:-1;
    --volgnummer:2;
    background-color:#3d5a80;
    border: 3px solid black;
    margin-left:-16vw;
  }
  label:nth-of-type(3) {
    --rotate:3;
    --volgnummer:3;
    background-color:#3d5a80;
    border: 3px solid black;
    margin-left:-12vw;
  }
  label:nth-of-type(4) {
    --rotate:-2;
    --volgnummer:4;
    background-color:#3d5a80;
    border: 3px solid black;
    margin-left:-8vw;
  }
 
  label:nth-of-type(5) {
    --rotate:4;
    --volgnummer:5;
    background-color:#3d5a80;
    border: 3px solid black;
    margin-left:-4vw;
  }
  
  
  /* als een radio-button gechecked wordt, worden alle labels na het label dat bij de radio-button hoort geselecteerd */
  input:checked + label ~ label {
    transform:rotatez( calc( var(--rotate) * 1deg) ) rotatey(calc( (var(--volgnummer) * 2 + 166) * 1deg));
    
    transition:transform calc( (12 - var(--volgnummer)) / 7 * .75s) ease-in;
  }

section:nth-of-type(1){
    font-size: .4em;
    text-align: left;
    color: white;
    margin: 20px;
}

section:nth-of-type(1) article div {
    display: inline;
}

section:nth-of-type(2){
    font-size: .4em;
    text-align: right;
    color:white;
    margin:20px
}

section:nth-of-type(3){
    font-size: .3em;
    text-align: right;
    color:white;
    margin:20px
}
